* {
    --backgroundColor: #0B1C4D;
    --primaryColor: #D4D200;
    --secondaryColor: #40C7C0;
    --thirdColor: #B5386D;
    --textColor: white;
    font-family: 'Spinnaker', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    position: absolute;
    top: 80px;
    right: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 50px;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a.selected {
    color: var(--primaryColor);
    text-decoration: none;
}

a:hover {
    color: var(--primaryColor);
    font-family: 'Spinnaker', sans-serif;
    text-decoration: none;
}

h1 {
    margin-top: 30px;
    text-align: center;
    position: relative;
    font-size: xx-large;
    color: var(--backgroundColor);
}

#logo {
    margin-left: 100px;
    width: 350px;
}

#menu {
    display: inline-block;
}

#landing {
    display: block;
    margin: auto;
    width: 70%;
}

#info>p,
#info>h3 {
    background-color: var(--textColor);
    padding-left: 70px;
    padding-right: 30px;
}

#info {
    padding-top: 20px;
    padding-left: 50px;
    background-color: var(--textColor);
    color: var(--backgroundColor);
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
}

#steps {
    background-color: var(--textColor);
    color: var(--backgroundColor);
    position: relative;
    display: block;
    width: 90%;
}

#top {
    background-color: var(--backgroundColor);
    width: 100%;
}

#bottom {
    margin-top: 30px;
    background-color: var(--textColor);
}

#footer {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    width: 100%;
    padding-top: 30px;
}

.step {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-left: 100px;
    padding-bottom: 30px;
    align-items: center;
}

hr.solid {
    border-top: 3px solid var(--primaryColor);
    width: 40%;
    margin-left: 0px;
}

.number {
    height: 200px;
}

.stepText {
    display: block;
    position: relative;
}

#footerDiv {
    display: flex;
}

#footerText {
    display: block;
    position: absolute;
    right: 20%;
}

#identity {
    text-align: center;
    padding-bottom: 30px;
    font-size: small;
}

.socials {
    height: 35px;
    padding-right: 10px;
}

.socialItem {
    display: flex;
    align-items: center;
}

.sponsors {
    height: 100px;
    padding-bottom: 50px;
    padding-right: 80px;
}

#sponsorsDiv {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

#partners {
    margin-top: 50px;
    padding-top: 20px;
    background-color: #F0F0F0;
}

#videos {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.video {
    padding-bottom: 30px;
}

#aboutText {
    width: 80%;
    text-align: center;
    margin: auto;
    z-index: 950;
}

#stylistic {
    width: 10%;
    position: absolute;
    bottom: 70px;
    z-index: 900;
}

#teamMembers {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.member {
    width: 400px;
    background-color: #F0F0F0;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.memberPhoto {
    width: 150px;
    border-radius: 100px;
    padding-left: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

.memberName {
    padding-left: 30px;
}

.memberName>h5 {
    color: var(--primaryColor);
}

.memberName>h3 {
    color: var(--backgroundColor);
}

.memberInfo {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#blog{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.blogPost{
    display: flex;
    width: 100%;
    background-color: #F0F0F0;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.blogImage{
    width: 400px;
    border-radius: 10px;
}

.blogText{
    padding: 20px;
}

button {
    padding: 10px;
    background-color: var(--primaryColor);
    border-radius: 10px;
    border-color: var(--primaryColor);
    position: relative;
    left: 80%;
}

button:hover{
    background-color: #faf742;
}

#blogView{
    width: 70%;
    margin: auto;
    color:var(--backgroundColor);
    padding-top: 30px;
    padding-bottom: 80px;
}

#blogView>img, #blogView>iframe{
    width: 80%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#blogView>a{
  color:var(--backgroundColor);
  text-decoration: underline;
}

#blogView>a:hover{
    color:var(--primaryColor)
  }
